<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracovný denník</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/header_styles.css")
    @Styles.Render("~/Content/footer_styles.css")
    @Styles.Render("~/Content/diary.css")
    
    </head>
    <body>

        <div style="position:relative">
            <div class="title">
                Pracovný denník
            </div>
        </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <p>&copy; Tibor Kacsinecz - verzia beta 0.99</p>
    </div>
        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
